@font-face {
    font-family: "Karla";
    src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Karla";
    src: url("../assets/fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

:root {
    /* Colors */
    --grey-900: hsl(187 24% 22%);
    --grey-500: hsl(186 15% 59%);
    --white: hsl(0 0% 100%);
    --green-600: hsl(169 82% 27%);
    --green-200: hsl(148 38% 91%);
    --red: hsl(0 66% 54%);

    --screen-50: hsl(0 0% 0% / 0.5);

    /* Color settings */
    --asterisk-color: var(--green-600);
    --bg-color: var(--green-200);
    --button-bg-color: var(--green-600);
    --button-bg-hover: linear-gradient(var(--screen-50), var(--screen-50)), var(--button-bg-color);
    --button-color: var(--white);
    --color: var(--grey-900);
    --error-color: var(--red);
    --form-bg-color: var(--white);
    --input-border-color: var(--grey-500);
    --input-border-color-active: var(--green-600);
    --input-border-color-hover: var(--green-600);
    --input-border-color-invalid: var(--red);
    --radio-checked-container-bg-color: var(--green-200);
    --success-message-bg-color: var(--grey-900);
    --success-message-color: var(--white);

    /* Borders */
    --input-border: 1px solid var(--input-border-color);
    --radio-border: 2px solid var(--input-border-color);

    /* Border radius */
    --form-border-radius: 16px;
    --input-border-radius: 8px;
    --message-border-radius: 12px;

    /* Font family */
    --karla: "Karla", Tahoma, sans-serif;

    /* Font sizes */
    --body-s: 1rem;
    --body-m: 1.125rem;
    --h1: 2rem;

    /* Font weights */
    --regular: 400;
    --bold: 700;

    /* Line heights */
    --body-line-height: 1.5;
    --h1-line-height: 1;

    /* Letter spacings */
    --body-letter-spacing: 0;
    --h1-letter-spacing: -1px;

    /* Icons */
    --check-icon: url("../assets/images/icon-success-check.svg");
    --checkbox-checked-icon: url("../assets/images/icon-checkbox-check.svg");
    --checkbox-unchecked-icon: url("../assets/images/icon-checkbox-unchecked.svg");

    /* Sizing */
    --form-width: 46rem;

    /* Transition time */
    --radio-transition-time: 0.2s;
    --success-transition-time: 0.7s;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

.asterisk {
    color: var(--asterisk-color);
}

body {
    min-height: 100vh;
    font-family: var(--karla);
    font-size: var(--body-m);
    font-weight: var(--regular);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
    background: var(--bg-color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    font-weight: var(--bold);
    border: none;
    border-radius: var(--input-border-radius);
    background: var(--button-bg-color);
    color: var(--button-color);
    width: 100%;
}

button, .radio-label-group, input:not(input:focus:not(input[type="radio"], input[type="checkbox"])), label, textarea:not(textarea:focus) {
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.error p {
    color: var(--error-color);
}

fieldset {
    border: none;
}

form {
    background: var(--form-bg-color);
    border-radius: var(--form-border-radius);
    flex: 0 1 var(--form-width);
}

h1 {
    font-size: var(--h1);
    font-weight: var(--bold);
    line-height: var(--h1-line-height);
    letter-spacing: var(--h1-letter-spacing);
}

h2 {
    display: flex;
    align-items: center;
    font-size: inherit;
    font-weight: var(--bold);
    line-height: inherit;
    letter-spacing: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}

input[type="text"], input[type="email"], textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
}

input.input-field.invalid, textarea.input-field.invalid {
    border-color: var(--input-border-color-invalid);
}

.input-field {
    border: var(--input-border);
    outline: none;
    border-radius: var(--input-border-radius);
}
.input-field:focus {
    /* Rijesi ovo za tipkovnicu, focus-visible je kljuc */
    outline: none;
    border-color: var(--input-border-color-active);
}

input[type="checkbox"] {
    appearance: none;
    width: 18px; /* temp */
    aspect-ratio: 1;
    background: var(--checkbox-unchecked-icon) center/auto no-repeat;
}
input[type="checkbox"]:checked {
    background-image: var(--checkbox-checked-icon);
}

input[type="radio"] {
    pointer-events: none;
    position: relative;
    appearance: none;
    width: 20px; /* temp */
    aspect-ratio: 1;
    border: var(--radio-border);
    border-radius: 50%;
}
input[type="radio"]::after {
    content: "";
    width: 0;
    aspect-ratio: 1;
    background-color: var(--input-border-color-active);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width var(--radio-transition-time);
}

input[type="radio"]:checked {
    border-color: var(--input-border-color-active);
}
input[type="radio"]:checked::after {
    width: 50%;
}

label, legend {
    display: block;
    font-size: var(--body-s);
}

p {
    font-size: var(--body-s);
}

.radio-buttons-container {
    display: flex;
    flex-wrap: wrap;
}

.radio-label-group {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

.radio-label-group:has(input:checked) {
    background: var(--radio-checked-container-bg-color);
    transition: background-color var(--radio-transition-time);
}

.radio-label-group label {
    pointer-events: none;
    font-size: var(--body-m);
}

.sr-only {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#success-message {
    position: fixed;
    top: 0;
    background: var(--success-message-bg-color);
    color: var(--success-message-color);
    border-radius: var(--message-border-radius);
    opacity: 0;
    transition: opacity var(--success-transition-time);
}

#success-message h2::before {
    content: "";
    display: block;
    width: 24px; /* temp */
    height: 24px; /* temp */
    background: var(--check-icon) center/auto no-repeat;
}

textarea {
    resize: none;
}

@media (hover: hover) {
    button:hover {
        background: var(--button-bg-hover);
    }

    .input-field:hover {
        border-color: var(--input-border-color-hover);
    }
}
